body{
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
}

body,
* {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container
{
    border: 2px solid yellow;
    width: 1180px;
    margin: 0 auto;
}

header {
background-image: url(img/coffee_image.png);

}

header .logo {
 font-family: "Clicker Script", cursive;
  font-weight: 400;
  font-style: normal;
  border: 1px solid red;
  font-size: 35px;
  margin-right: 245px;
  
}

header a {
    color: white;
}

header nav{
    border: 1px solid red;
    font-size: 14px;
    font-weight: 600;
}

header ul{
    border: 1px solid red;
    display: inline-block;
    margin-right: 200px;
}
header ul li{
    display: inline-block;
    margin-right: 60px;
}
header ul li:last-child{
    margin-right: 0;
}
    
header .login{
    border: 1px solid red;
    display: inline-block;
}

header .hero {
    border: 1px solid red;
    
}

.Signin-btn {
    margin-right: 35px;
    text-decoration: underline;
}
.Signup-btn {
    color: #1E1E1E;
    background-color: #F9C06A;
    border-radius: 24px;
    padding: 14px 27px 15px;
}

