:root{
    --btn_background:  #F9C06A;
    --btn_padding: 14px 26px;
    --btn_color: #1E1E1E;
    --btn_radius: 24px;

    --line_height_34: 34px;
    --color_light: white;
    --color_dark: #707070;

    --font_family_logo: "Clicker Script", cursive;
    --font_text :20px;

    --color_coffe: #603809;
}
body{
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
}

body,
* {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container
{
    border: 2px solid yellow;
    max-width: 1180px;
    margin: 0 auto;
}
.btn {
    color: var(--btn_color);
    background-color: var(--btn_background);
    border-radius: var(--btn_radius);
    padding: var(--btn_padding);
    display: inline-block;
    transition: 0.3s;
    }

.dark_heading {
    color: var(--color_coffe);
    font-size: 54px;
}

header {
background-image: url(img/coffee_image.png);
background-repeat: no-repeat;
background-size: cover;
}

header .logo {
 font-family: var(--font_family_logo);
  font-weight: 400;
  font-style: normal;
  border: 1px solid red;
  font-size: 35px;
  margin-right: 245px;
  
}

header a {
    color: var(--color_light);
}

header nav{
    border: 1px solid red;
    font-size: 14px;
    font-weight: 600;
}

header ul{
    border: 1px solid red;
    display: inline-block;
    margin-right: 200px;
}
header ul li{
    display: inline-block;
    margin-right: 60px;
}

header ul a, .Signin-btn{
  transition: 0.3s;  
}

header ul a:hover, .Signin-btn:hover {
opacity: 0.8;

}

header ul li:last-child{
    margin-right: 0;
}
    
header .login{
    border: 1px solid red;
    display: inline-block;
}

header .hero {
    border: 1px solid red;
    
}

.Signin-btn {
    margin-right: 35px;
    text-decoration: underline;


}


.btn-hover:hover {
    box-shadow: 0 0 10px 2px #666;
}
.hero{
    width:585px;
    padding-top: 116px;
    padding-bottom: 95px;
}
.hero .label{
    color: var(--color_light);
    font-size: 22px;
}

.hero .title{
    color: var(--color_light);
    font-family: var(--font_family_logo);
    font-size: 220px;  
    font-weight: normal;
}

.hero .description{
    color: var(--color_light);
    font-size: var(--font_text);
    line-height: var(--line_height_34);
}
.order-btn{
 margin-top: 20px;
}

.advantages{
    padding-bottom: 130px;
    padding-top: 70px;
}

.advantages p {
margin: 29px 0;
color: var(--color_dark);
font-size: var(--font_text);
line-height: var(--line_height_34);

}
.advantages .description {
    width: 585px;
    display: inline-block;
    margin-right:80px;
    vertical-align: 60px;
    
}
