:root{
    --btn_background:  #F9C06A;
    --btn_padding: 14px 26px;
    --btn_radius: 24px;

    --line_height_34: 34px;
    --color_light: white;
    --color_dark: #707070;
    --black_color: #1E1E1E;


    --font_family_logo: "Clicker Script", cursive;
    --font_text :20px;
    --font_heading: 54px;

    --color_coffe: #603809;
}
body, *{
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
}

body,
* {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container
{
    border: 2px solid yellow;
    max-width: 1180px;
    margin: 0 auto;
}
.btn {
    color: var(--black_color);
    background-color: var(--btn_background);
    border-radius: var(--btn_radius);
    padding: var(--btn_padding);
    display: inline-block;
    transition: 0.3s;
    font-weight: bold;
    }

.dark_heading {
    color: var(--color_coffe);
    font-size: var(--font_heading)
}
.card_back{
    background-color:#FFF9F1 ;
    border: 1px solid #F9C06A;
}

header {
background-image: url(img/coffee_image.png);
background-repeat: no-repeat;
background-size: cover;
}

header .logo {
 font-family: var(--font_family_logo);
  font-weight: 400;
  font-style: normal;
  border: 1px solid red;
  font-size: 35px;
  margin-right: 245px;
  
}

header a {
    color: var(--color_light);
}

header nav{
    border: 1px solid red;
    font-size: 14px;
    font-weight: 600;
}

header ul{
    border: 1px solid red;
    display: inline-block;
    margin-right: 200px;
}
header ul li{
    display: inline-block;
    margin-right: 60px;
}

header ul a, .Signin-btn{
  transition: 0.3s;  
}

header ul a:hover, .Signin-btn:hover {
opacity: 0.8;

}

header ul li:last-child{
    margin-right: 0;
}
    
header .login{
    border: 1px solid red;
    display: inline-block;
}

header .hero {
    border: 1px solid red;
    
}

.Signin-btn {
    margin-right: 35px;
    text-decoration: underline;


}


.btn-hover:hover {
    box-shadow: 0 0 10px 2px #666;
}
.hero{
    width:585px;
    padding-top: 116px;
    padding-bottom: 95px;
}
.hero .label{
    color: var(--color_light);
    font-size: 22px;
}

.hero .title{
    color: var(--color_light);
    font-family: var(--font_family_logo);
    font-size: 220px;  
    font-weight: normal;
}

.hero .description{
    color: var(--color_light);
    font-size: var(--font_text);
    line-height: var(--line_height_34);
}
.order-btn{
 margin-top: 20px;
}

.advantages{
    padding-bottom: 130px;
    padding-top: 70px;
}

.advantages p {
margin: 29px 0;
color: var(--color_dark);
font-size: var(--font_text);
line-height: var(--line_height_34);

}
.advantages .description {
    width: 585px;
    display: inline-block;
    margin-right:80px;
    vertical-align: 60px;
    
}

.products{
    border: 1px solid red;
    margin-bottom: 82px;
    
}

.products h2{
    text-align: center;
}
.products .description{
    color: var(--color_dark);
    text-align: center;
    margin: 16px 0 32px 0;
    font-size: var(--font_text);
}
.products .card{
  display: inline-block; 
  text-align: center; 
  margin-right: 14px;
}

.products .card:last-child{
    margin-right: 0;
}

.products .card_back > *{
    display: block;
}
.products .type{
    color: var(--color_coffe);
    font-weight: bold;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 6px;
}
.products .charachteristics{
color: var(--black_color);
margin-bottom: 6px;
}

.products .price{
    color: var(--color_coffe);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.products .btn{
display: inline-block;
position: relative;
top: 25px;
}

.products .card_back{
    border-top: none;
    margin-top: -5px;
    padding-top: 16px;
    
}

.features{
    text-align: center;
}
.features .description {
    margin-top: 16px;
    margin-bottom: 32px;
    color: var(--color_dark);
    font-size: var(--font_text);
}
.features .card{
    display: inline-block;
    text-align: center;
    padding: 36px 39px;
    margin-right: 20px;
}
.features .card:last-child{
    margin-right: 0;
}
.features .card > *{
    display: block;
}
.features .card img{
    display: inline-block;
}
.features .type{
    color: var(--color_coffe);
    font-size: 28px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 8px;
}
.features .text{
    color: var(--color_dark);
    font-size: var(--font_text);
    width: 176px;
}
.features .card:hover{
    background-color: #FFEED8;
    border: none;
}
.join p {
font-size: var(--font_text);
color: var(--color_dark);
margin-top:32px ;
}
.join h3{
    font-size:30px;
    color: var(--color_coffe);
    margin-bottom:24px;

}
.join .btn{
    padding: 14px 41px;
}

.offer{
    background-image: url(img/cup.png), url(img/coffee_bean.png),url(img/Group\ 36.png);
     padding-block: 135px;
    background-repeat: no-repeat;
    background-size: 300px 467px, 657px 574px, cover;
    background-position: 90%, right, 0;
   margin-top: 82px;
   margin-bottom: 82px;

}
.offer .text{
    width: 575px;

}

.offer h2{
    color: var(--color_light);
    font-size: var(--font_heading);
}
.offer p{
    color: var(--color_light);
    font-size: var(--font_text);
    line-height: var(--line_height_34);
    margin-top: 22px;
    margin-bottom: 22px;   
}

.feedback{
    margin-block: 82px;
    text-align: center;
}
.feedback .description{
    margin-top: 16px;
    color: var(--color_dark);
    font-size: var(--font_text);
}
.slider_wrapper{
    border: 2px solid red;
    padding-inline: 41px;
    padding-block: 57px;
    position: relative;
}
.slider{
    border: 2px solid green;
    overflow: hidden;
    width: 980px;
    margin: 0 auto;
}

.slides{
    border: 2px solid red;
    width: 2955px;
    transition: 0.5s;

}

.slide{
    vertical-align: top;
    display: inline-block;
    background-color:#FFF9F1 ;
    padding: 140px 100px 17.5px;
    position: relative;
    border: 2px solid #f9c06a70;
    width: 980px;
    height: 524px;

}
.quote{
position: absolute;
top: 60px;
left: 29px;

}
.slide p{
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    color: var(--color_dark);
    margin-bottom: 13px;
}

.slide h3{
    color: var(--color_coffe);
    font-size: 32px;
    margin-bottom: 4px;
}
.slide .status{
    display: block;
    font-size: var(--font_text);
    color: var(--color_dark);
    margin-bottom: 8px;
}
.slide .avatar{
    border-radius: 16px;
    width: 83px;
    height: 83px;
    background-image: url(img/man.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px;
    margin: 0 auto;

}

.feedback .controls{
    position: absolute;
    bottom: 0px;
    left: 45%;
}

.feedback .controls input{
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 6px solid var(--color_coffe);
    margin-right: 11px;
    position: relative;
    cursor: pointer;
}

.feedback .controls input:last-child{
  margin-right: 0;  
}
.feedback .controls input::after{
    content: "";
    position: absolute;
    top: 2px;
    left: 2.1px;
    width: 19px;
    height: 19px;
    background-color: var(--color_coffe);
    border-radius: 50%;
    display: none;

}
.feedback .controls input:checked::after{
    display: block;
}

.controls:has(#control1:checked) + .slider .slides{
    transform: translateX(0px);
}
.controls:has(#control2:checked) + .slider .slides{
    transform: translateX(-980px);
}
.controls:has(#control3:checked) + .slider .slides{
    transform: translateX(-1960px);
}


.arrows_box{
    display: none;
    position: relative;
}
.controls:has(#control1:checked) ~ .arrows .arrows_slide1,
.controls:has(#control2:checked) ~ .arrows .arrows_slide2,
.controls:has(#control3:checked) ~ .arrows .arrows_slide3 {
    display: block;
}
.arrows{
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;

}
.arrows_box{
    position: relative;
}

.arrows_box label{
    background-color: var(--btn_background);
    width: 82px;
    height: 82px;
    border-radius: 16px;
    display: inline-block;
    line-height: 82px;
    position: absolute;
    top: 0;
    cursor: pointer;
    transition: 0.3s;
}
.arrows_box label:hover{
    transform: scale(1.2);
}

.arrows_box label:first-child{
left: 60px ;
}
.arrows_box label:last-child{
    right:60px ;
}

.subscribe{
    background-image: linear-gradient(#603709d0), url(img/Rectangle\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 80px;
    text-align: center;
    position: relative;
}

.subscribe h2{
    font-size: var(--font_heading);
    color: var(--color_light);
}

.subscribe p{
    font-size: var(--font_text);
    color: var(--color_light);
    margin-top: 16px;
    margin-bottom: 26px;
}
.subscribe form{
    border: 1px solid #F9C06A6B;
    display: inline-block;
    border-radius: 6px;
}

.subscribe input[type="email"]{
    padding: 20px 5px 19px 26px;
    font-size: var(--font_text);
    border-radius: 4px;
    border: none;
    width: 505px;
}
.subscribe input[type="email"]:focus{
   outline: none;
}

.subscribe input[type="email"]::placeholder{
    color: #00000057;
}

.subscribe input[type="submit"]{
    color: var(--color_coffe);
    background-color: var(--btn_background);
    font-weight: bold;
    font-size: 22px;
    padding: 19px 24px 18px 24px;
    border-radius: 4px;
    border: none;
    vertical-align: bottom;
    margin-left: -8px;
    
}
.subscribe img{
    position: absolute;
    top: 138px;
    z-index: 1;
   
}
.subscribe .img_left{
left: -250px;
}

.subscribe .img_right{
    transform: scaleX(-1);
    right: -250px;
}

footer{
   background-image:  url(img/fotter_image.png), linear-gradient(#362209), url(img/Rectangle\ 7.png);
   color: var(--color_light);
   padding-bottom:80px ;
   padding-top: 162px;
}

footer a{
    color: var(--color_light);
}

footer .contacts,
footer nav,
footer nav ul{
    display: inline-block;
}

footer .contacts{
    width: 380px;
}

footer .logo{
    font-family: var(--font_family_logo);
    font-size: var(--font_heading);
}

footer .contacts p{
    font-size: 14px;
    line-height: 22px;
    margin-block: 20px;
}

footer .socials a{
    margin-right: 20px;
    vertical-align: bottom;
}

footer.socials a:last-child{
    margin-right: 0;
}

footer ul{
    list-style: none;
    padding-left: 0;
    margin-right: 66px;
}

footer ul li:first-child{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 55px;
    line-height: 0;
}

footer ul li {
    font-size: 18px;
    line-height: 42px;

}

footer ul:last-child{
    width: 332px;
    margin-right: 0;
    vertical-align: top;
}
footer ul:last-child li:first-child {
    margin-bottom: 50px;
}

footer ul:last-child li:nth-child(2){
    line-height: normal;
}

footer nav{
    margin-left: 45px;
}