body{
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
}

body,
* {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container
{
    border: 2px solid yellow;
    width: 1180px;
    margin: 0 auto;
}

header {
background-image: url(img/coffee_image.png);
background-repeat: no-repeat;
background-size: cover;
}

header .logo {
 font-family: "Clicker Script", cursive;
  font-weight: 400;
  font-style: normal;
  border: 1px solid red;
  font-size: 35px;
  margin-right: 245px;
  
}

header a {
    color: white;
}

header nav{
    border: 1px solid red;
    font-size: 14px;
    font-weight: 600;
}

header ul{
    border: 1px solid red;
    display: inline-block;
    margin-right: 200px;
}
header ul li{
    display: inline-block;
    margin-right: 60px;
}

header ul a, .Signin-btn{
  transition: 0.3s;  
}

header ul a:hover, .Signin-btn:hover {
opacity: 0.8;

}

header ul li:last-child{
    margin-right: 0;
}
    
header .login{
    border: 1px solid red;
    display: inline-block;
}

header .hero {
    border: 1px solid red;
    
}

.Signin-btn {
    margin-right: 35px;
    text-decoration: underline;
}
.Signup-btn {
    color: #1E1E1E;
    background-color: #F9C06A;
    border-radius: 24px;
    padding: 14px 27px 15px;
    transition: 0.3s;
}

.Signup-btn:hover {
    box-shadow: 0 0 10px 2px #666;
}
.hero{
    width:585px;
    padding-top: 116px;
    padding-bottom: 95px;
}
.hero .label{
    color: white;
    font-size: 22px;
}

.hero .title{
    color: white;
    font-family: "Clicker Script", cursive;
    font-size: 220px;  
}

.hero .description{
    color: white;
    font-size: 20px;
    line-height: 34px;
}
.order-btn{
    background-color: #F9C06A;
    padding: 14px 26px;
    color: #1E1E1E;
    border-radius: 24px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}